# Compiled class files
/target/

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# VS Code files
.vscode/

# H2 Database file
*.mv.db
*.trace.db

# Other
.DS_Store